/* ################################# MAIN ################################# */
:root {
  --space: 1.5em 0;
  --space: 2em 0;
}

.App {
  /* background-image: url("assets/background.jpg"); */
  text-align: center;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #7f7b86;
  color: #f6f7f2;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-content:after {
  content: "\00a0";
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

.justify-text {
  text-align: justify;
}

/* ################################# DASHBOARD ################################# */
.new-project-section {
  text-align: left;
}

.new-project-section p {
  color: #f6f7f2;
}

hr {
  background-color: #f6f7f2;
  size: 2em;
}

.project-button {
  background-color: #f47c62 !important;
  border-color: #f6f7f2 !important;
  color: #f6f7f2 !important;
}

.project-button:hover,
.project-button:active,
.project-button:focus {
  background-color: #f6f7f2 !important;
  border-color: #f47c62 !important;
  color: #f47c62 !important;
}

.project-item {
  background-color: #d9b482;
  min-height: 100px;
  overflow: auto;
}

.project-item * {
  vertical-align: middle;
}

.project-item button {
  width: 90% !important;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
}

/* ################################# HEADER ################################# */
.navbar {
  background-color: #3f3957;
}

/* ################################# FOOTER ################################# */
.footer {
  background-color: #3f3957;
}

.footer-content {
  margin: 10px auto 10px auto;
}
